
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    background-color: #f7f7f7;
}

#map {
	height: 400px;
}

nav {
    padding-left: 30px;
}


.space {
    padding-right: 20px;
    padding-left: 20px;
}

.circle {
    border-radius: 0%;
}

.hero {
    width: 100%;
}

#pac-input {
    color: white;
}

.parallax {
    background-color: black;
}

.parallax img {
    opacity: 0.5;
}

.parallax-container h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 8em;
}

.parallax-container h5 {
    
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 0.04em;
    font-weight: 100;
    line-height: 1.5em;
}

.hero-div {
    font-family: 'Amatic SC', cursive;
    font-size: 30px
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container p {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.5em;
}

.heading h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
  letter-spacing: 0.04;
  padding-top: 10px;
}

